# Django Secret Key
# Generate a secure random key and keep it secret
SECRET_KEY=your_secret_key_here

# Debug Mode
# Set to True for development, False for production
DEBUG=True

# Admin URL
# URL path for the Django admin interface
ADMIN_URL=admin/

# Google Client ID
# Client ID for Google authentication integration
GOOGLE_CLIENT_ID=your_google_client_id_here

# Google Client Secret
# Client Secret for Google authentication integration
GOOGLE_CLIENT_SECRET=your_google_client_secret_here

# Email Host
# Hostname of the email server
EMAIL_HOST=your_email_host_here

# Email Host User
# Username for authenticating with the email server
EMAIL_HOST_USER=your_email_host_user_here

# Email Host Password
# Password for authenticating with the email server
EMAIL_HOST_PASSWORD=your_email_host_password_here

# Email Port
# Port number for the email server
EMAIL_PORT=587

# Database Name
# Name of the database
DB_NAME=your_database_name_here

# Database User
# Username for authenticating with the database
DB_USER=your_database_user_here

# Database Password
# Password for authenticating with the database
DB_PASSWORD=your_database_password_here

# Database Host
# Hostname of the database server
DB_HOST=your_database_host_here

# Database Port
# Port number of the database server
DB_PORT=your_database_port_here

# Media Base URL
# Base URL for serving media files
MEDIA_BASE_URL=http://localhost:3000


# PG admin
PGADMIN_DEFAULT_EMAIL=your_pgadmin_default_email_here
PGADMIN_DEFAULT_PASSWORD=your_pgadmin_default_password_here
